body {
  background-color: #b3b3ff;
  padding: 5px;
}

.App {
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  background-color: #b3b3ff;
  font-family: "Tangerine", serif;
  font-weight: bold;
  font-size: 100px;
}

.cont {
  color: green;
}

.cont2 {
  color: #ffffff;
}

.editorHeading {
  padding-left: 125px;
}

.editor {
  float: left;
  width: 500px;
  padding-left: 125px;
}

.textarea {
  width: 500px;
  height: 500px;
  border: 2px solid grey;
}

.previewHeading {
  margin-left: 897px;
  margin-top: -50px;
} 

.preview {
  border: 2px solid gray;
  float: right;
  width: 500px;
  height: 500px;
  margin-right: 125px;
  background-color: white;
}

blockquote {
  color: rgb(55, 55, 55);
  margin-top: 5px;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-left: 4px solid rgb(105, 105, 105);
}

